extends layout

block content
    h2 Ты и твои друзья
    p.userName= user.name
    img.profilePhoto(src=user.photoURL alt="Аватарка")
    p
    p
    section.friends
        each friend in user.friends
            div
                img.profilePhoto(src=friend.photo_100 alt="Аватарка друга")
                p= friend.first_name+" "+ friend.last_name

