extends layout
block scripts
    script(src='/javascripts/friends.js')

block content
    h2 Ты и твои друзья
    p.userName= user.name
    img.profilePhoto(src=user.photoURL lt="Аватарка")
    p
    p
    section.friends#friends
        p загружаем друзей...

    form(class="form-signout" method="POST" action="/logout")
        - var buttonClass = ['btn', 'btn-lg', 'btn-primary', 'btn-block'];
        button(class=buttonClass type="submit") выйти

