@import url(main.css);
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}
.friends {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.friends div{
  margin: 10px;
}
